{% extends 'smartquefirst/base.html' %}
{% block content %}

<div class="CenterTable">
        <table>
            <tr>
                {% for firstth in firstths %}
                    <th>
                        {{ firstth }}
                    </th>
                {% empty %}
                    <th>Empty List</th>
                {% endfor %}
            </tr>
            {% for tr in trs %}
                <tr>
                    {% for td in tr %}
                    <td>
                        {{ td }}
                    </td>
                    {% empty %}
                        <td>Empty List</td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr>
                    <td>Empty List</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}