
.CenterTable
{
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0 auto;
}
.container {
    width: 100%;
    max-width: 1024px;
    padding: 10px;
    margin: 0 auto;
    
  }
  .column1{
  width:65%;
  float:left;
  font-family:  'Montserrat', sans-serif;
  color: #3a3b40;
  }
  .column2{
  width:32%;
  float:right;
  font-family:  'Montserrat', sans-serif;
  color: #3a3b40;
  }
  header{
  background-color:rgb(123, 148, 173);  
  margin-left: 2px;
  margin-right: 2px;
 }
  .smartque {
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 80px;
    margin-right: auto;
    font-family:'Montserrat', sans-serif;
    font-size: 6;
  }
  nav li {
    display: inline-block;
  }
  nav a {
    text-decoration: none;
    line-height: 38px;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
  .menu {
  width: auto;
  }
  a {
    text-decoration: none;
  }
  a.mainbuttons{
      font-family: Arial;
      font-size: 20px;
  }
  div.mainbuttons{
      margin-left:  20px;
      margin-right: 20px;
      font-size:20px;
  }
  p.maintext{
      font-size: 22px;

  }
  div.navcontainer{
       width: auto;
       padding: 10;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 240px;
    margin-right: auto;
    font-size: 4;

  }
  .Main-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .Main-button:hover {
    background: LightSlateGray;
    box-shadow: 0 15px 20px rgba(32, 134, 230, 0.4);
    color: white;

  }
  img.qrcode{
      width: 300px;
      height: 300px;
  }
  .qrtitle{
      margin-left: 32px;
      font-size: 18px;
      margin-right: 50px;
  }
  .Checkbox{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 17em;
  }
  .checkBoxButtons{
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 45px;
    letter-spacing: 3px;
    background: rgb(152, 176, 199);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    width: 500px;
    height: 70px;
    color:white;
    margin-left: 3%;
  }
  .form {
    padding: 0 16px;
    max-width: 550px;
    margin: 50px auto;
    font-size: 18px;
    font-weight: 600px;
    line-height: 36px;
  }
  .inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
  }
  label {
    padding: 12px 30px;
    width: 90%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
  }
  label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: 0;
    z-index: -1;
  }
  label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
  }
  input:checked ~ label {
    color: #fff;
  }
  input:checked ~ label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
  }
 input:checked ~ label:after {
    background-color: #54E0C7;
    border-color: #54E0C7;
  }
  input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
  html {
    box-sizing: border-box;
  }
  code {
    background-color: #9AA3AC;
    padding: 0 8px;
  }
  button{
    text-decoration: none;
    display: inline-block;
    width: 220px;
    height: 55px;
    line-height: 45px;
    border-radius: 45px;
    margin-top: -5%;
    margin-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: rgb(152, 176, 199);
    transition: .3s;
  }
  button:active, button:focus {
    outline: none !important;
  }
  button::-moz-focus-inner {
    border: 0;
  }
  button.b1 {
    border: 0px; 
    cursor: pointer; 
}
 .Centertext {
  margin-left: auto;
  margin-right: auto;
  width: 10em
}
.okno {
  width: 400px;
  height: 350px;
  text-align: center;
  padding: 15px;
  border: 5px solid #524f4e;
  border-radius: 10px;
  color: #524f4e;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family:  'Montserrat', sans-serif;
  color: #3a3b40;
  margin-top: 32px;
  }
  tr:first-child
  {
    background: #dcdee4;
    padding: 10px 20px;
    max-width: auto;
  }
  th, td:first-child {
  padding: 10px 20px;
  max-width: auto;
  }
  th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #1C1A1F;
  max-width: auto;
  }
  td {
    
  background: white;
  }
  th:first-child, td:first-child {
  text-align: center;
  max-width: auto;
  }
  .b1back
  {
    border: 0px; 
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;

  }
 h2.button
{
 margin-top: 220px;
}
h2.main
{
  font-size: 30px;
}
footer
{
  font-family: 'Montserrat', sans-serif;
  color: #3a3b40;

}