
smartquefirst/Архив.zip

requirements.txt

smartquefirst/__pycache__/

smartquerest/__pycache__/

smartquefirst/migrations/__pycache__/

.idea

SmartQueSite/__pycache__/

key.txt

*.sqlite3

smartquerest/migrations/
