<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>{{ title }}</title>
    {% load static%}
    
    <link rel="stylesheet" type="text/css" href="{% static 'smartquefirst/style.css' %}">
</head>
<body>
<header>
    <div class="container">
        <div class="smartque">
            <h1>
                <a href="{% url 'smartquefirst:index' %}" style="color: white;">
                    SmartQue
                </a>
            </h1>
        </div>
        <div class="navcontainer">
            <nav>
                <ul>
                <div class="menu">
                    <li>
                        <div class="mainbuttons">
                            <a  href="{% url 'smartquefirst:index' %}" class="Main-button">
                                Главная
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="mainbuttons">
                            <a href="{% url 'smartquefirst:schedule' %}" class="Main-button">
                                Расписание
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="mainbuttons">
                            <a href="{% url 'smartquefirst:recording' %}" class="Main-button">
                                Запись
                            </a>
                        </div>
                    </li>
                </div>
                </ul>
            </nav>
        </div>
    </div>
</header>

{% block content %} {% endblock content %}

</body>
</html>
