{% extends 'smartquefirst/base.html'%}

{% block content %}

<div class="main"><div class="container"><div class="column1">
<h2>О проекте</h2>
<p>
<p class="maintext">В наши дни каждый человек очень ценит свое время, особенно, если оно тратится впустую. 
              Очередь в поликлинике - это процесс, обычно занимающий времени больше, чем нам хотелось бы, но лишь в том случае, когда
              мы говори о живой очереди. Но что, если перенести отсветственность за отслеживание очереди на кого-то другого?
              SmartQue - умный телеграм-бот, который поможет вам сэкономить время. Вам нужно будет лишь зарегестрироваться и, ожидая, 
              заниматься более полезными делами - SmartQue отстоит очередь за вас, предупреждая о приближении назначенного на прием 
              к врачу времени заранее.<p>
    </div>
    <div class="column2">
    <p><p>
      <div class="qrtitle"><h3>QR-код для перехода на телеграм-бота</h3></div>
      <div class=""><img src="qrcode.jpg" class="qrcode"></div>
    </div>
    </div></div>




<footer><div class="container">
<p>Авторские права и т.д.  ...


</div></footer>

{% endblock content %}